attrs==23.1.0
certifi==2023.7.22
charset-normalizer==3.3.2
fastjsonschema==2.19.0
idna==3.4
jsonschema==4.19.2
jsonschema-specifications==2023.11.1
jupyter_core==5.5.0
nbformat==5.9.2
packaging==23.2
platformdirs==4.0.0
plotly==5.18.0
redis==5.0.1
referencing==0.31.0
requests==2.31.0
rpds-py==0.12.0
six==1.16.0
spotipy==2.23.0
tenacity==8.2.3
traitlets==5.13.0
urllib3==2.1.0
